/* overall css */
body {
  font-family: 'Arial Black', arial;
}

h1 {
  font-family: 'Arial Black';
  font-size: 8em;
  color: white;
}

h3 {
  font-family: arial;
  font-size: 24px;
}


/* background panel and page titles*/

.page-titles {
  text-align: center;
  word-wrap: break-word;

}

.titles {
  position: relative;
  padding-top: 10vh;
  padding-right: 5em; /*added*/
  padding-left: 5em; /*added*/
     background: url(http://49.media.tumblr.com/75c726fa4d766e2eb3c6980fe4f96793/tumblr_nczxck9NK71qfrhqho1_1280.gif) no-repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.background {
  position: relative; /* <--toggle and mark which is best position:*/
  background-color: #ffea94;
  height: 85vh;
  width: 90%;
  margin: 3em;
  z-index: 0;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
              animation-name: fadein;
              animation-duration: 2s;
  animation-timing-function: ease-in;

}

@keyframes fadein {
    0%   {background-color: white;}
    100% {background-color: #ffea94;}
}


/*DOMINIC MUTTEL header*/
.name-head {
  position: fixed;
  top: 1.8em;
  left: 1em;
  z-index: 1;
     animation-duration: 3s;
  animation-name: namemove;
}

@-webkit-keyframes namemove {
    from {left: -600px;}
    to {right: 300px;}
}

.last-name {
  padding-left: 1.25em;
}

.name-letters {
  font-family: arial;
  font-size: 34px;
  padding-left: .25em;
}

/* specialties header */

.specialties {
  z-index: 2;
  position: absolute;
  top: 35vh;
  left: -5.2em;
      -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.specialty-hyphen {
  padding-left: 4px;
  padding-right: 4px;
}

