@media only screen and (min-width : 768px) {
  body {
    font-family: 'Arial Black', arial;
    cursor: crosshair;
    overflow: scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  h1 {
    font-family: 'Arial Black';
    font-size: 5em;
    color: white;
  }

  h3 {
    margin-top: -10px;
    font-size: 1em;
  }

  h4 {
  font-family: 'Lekton';
  font-size: 5em;
  line-height: 1em;
  margin: 0 auto;
  }

  p {
    font-family: 'Lekton';
    font-size: 18px;
    line-height: 25px;
  }


  .container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .all-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 80%;
    height: 80%;
    margin: 5% auto;
  }

  /* background panel and page titles*/

  .page-titles {
    margin-top: -40px;
    text-align: center;
    word-wrap: break-word;
  }

  .titles {
    position: relative;
    background: url(http://49.media.tumblr.com/75c726fa4d766e2eb3c6980fe4f96793/tumblr_nczxck9NK71qfrhqho1_1280.gif) no-repeat;

/*           vvvvvvvvvvvv               */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
/*           ^^^^^^^^^^^^^              */
  .about {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0);
    border-width: 1px;
    border-style: solid;
    color: black;
    z-index: 200;
    text-align: justify;
    -webkit-background-clip: none;
    -webkit-text-fill-color: black;
    padding: 0px 40px;
    position:relative;
    margin: -80px auto 0px;
    height: 285px;
    width: 80%;
    overflow: scroll;
    overflow-x: hidden;
  }




  .background {
    position: relative; /* <--toggle and mark which is best position:*/
    background-color: #ffea94;
    max-height: 550px;
    max-width: 950px;
    min-width: 550px ;
    z-index: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    animation-name: fadein;
    animation-duration: 2s;
  }
  /*social media icons*/

  .social-media {
    position: absolute;
    z-index: 10;
    bottom: -40px;
    right: -35px;
  }




  /*DOMINIC MUTTEL header*/
  .name-head {
    position: absolute;
    top: -13px;
    left: -26px;
    z-index: 1;
    animation-duration: 3s;
    animation-name: namemove;
  }




  .last-name {
    padding-left: 1.25em;
  }

  .name-letters {
    font-family: arial;
    font-size: 1.5em;
    padding-left: .25em;
  }

  /* specialties header */

  .specialties {
    z-index: 2;
    position: absolute;
    top: 40%;
    left: -4.8em;
        -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

/*  .specialty-type {
    background-size: 120%;
    background-blend-mode: color-dodge;
  }*/



}


@media only screen and (min-width: 1224px){
/* overall css */

  body {
    font-family: 'Arial Black', arial;
    cursor: crosshair;
    overflow: scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  h1 {
    font-family: 'Arial Black';
    font-size: 8em;
    color: white;
  }

  h3 {
    margin-top: -20px;
    font-size: 1.2em;
  }
  /*h4 {
    color: white;
    font-family: 'Allen';
    font-size: 2em;
  }*/
  h4 {
  font-family: 'Lekton';
  font-size: 5em;
  line-height: 1em;
  margin: 0 auto;
}

p {
  font-family: 'Lekton';
  font-size: 18px;
  line-height: 25px;
}


  .container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .all-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 80%;
    height: 80%;
    margin: 5% auto;
  }

  /* background panel and page titles*/

  .page-titles {
    margin-top: -80px;
    text-align: center;
    word-wrap: break-word;
  }

  .titles {
    position: relative;
    background: url(http://49.media.tumblr.com/75c726fa4d766e2eb3c6980fe4f96793/tumblr_nczxck9NK71qfrhqho1_1280.gif) no-repeat;

/*           vvvvvvvvvvvv               */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
/*           ^^^^^^^^^^^^^              */
  .about {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0);
    border-width: 1px;
    border-style: solid;
    color: black;
    z-index: 200;
    text-align: justify;
    -webkit-background-clip: none;
    -webkit-text-fill-color: black;
    padding: 0px 40px;
    position:relative;
    margin: -80px auto 0px;
    height: 285px;
    width: 80%;
    overflow: scroll;
    overflow-x: hidden;
  }




  .background {
    position: relative; /* <--toggle and mark which is best position:*/
    background-color: #ffea94;
    max-height: 550px;
    max-width: 1440px;
    min-width: 950px ;
    z-index: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    animation-name: fadein;
    animation-duration: 2s;
  }


  /*social media icons*/

  .social-media {
    position: absolute;
    z-index: 10;
    bottom: -40px;
    right: -35px;
  }




  /*DOMINIC MUTTEL header*/
  .name-head {
    position: absolute;
    top: -20px;
    left: -36px;
    z-index: 1;
    animation-duration: 3s;
    animation-name: namemove;
  }




  .last-name {
    padding-left: 1.25em;
  }

  .name-letters {
    font-family: arial;
    font-size: 2.125em;
    padding-left: .25em;
  }

  /* specialties header */

  .specialties {
    z-index: 2;
    position: absolute;
    top: 40%;
    left: -5.5em;
        -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .specialty-type {
    background-size: 120%;
  }
} /* <---end large media */

  /* unvisited link */
  a:link {
    color: #000000;
  }

  /* visited link */
  a:visited {
    text-decoration: line-through;
  }

  /* mouse over link */
  a:hover {
    color: #FFB5C5;
    cursor: crosshair;
  }

  /* selected link */
  a:active {
    color: #000000;
  }
  svg:link #social {
    fill: #000000;
  }
/*  svg:visited #social {
    fill: #FFB5C5;
  }*/
  svg:hover #social {
    fill: #FFB5C5;
  }
  svg:active #social {
    fill: #000000;
  }



/* animation queries */

  @keyframes fadein {
      0%   {background-color: transparent;}
      100% {background-color: #ffea94;}
  }
/*    @keyframes fadeinall {
      0%   {color: transparent;}
      100% {}
  }*/


  @-webkit-keyframes namemove {
      from {left: -600px;}
      to {right: 300px;}
  }

