body {
  font-family: arial;

}

h1 {
  font-size: 8em;
}

.page-titles {
  text-align: center;
  word-wrap: break-word;

}

.titles {
  padding-top: 14%;
}

.background {
  position: relative;
  background-color: #ffea94;
  height: 100vh;
  margin: 3em;
  z-index: 0;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.name-head {
  z-index: 1;
  position: fixed;
  top: 1.9em;
  left: 1.6em;

}

.last-name {
  padding-left: 1.25em;
}

.name-letters {
  font-size: 2em;
  padding: 0 .25em 0 0;
}