a:link {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#010101;
}

a:visited {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill: white;
}

a:hover {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill: #FFB5C5;
}

/* selected link */
a:active {
    fill: black;
    text-decoration: line-through;
}